*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  display: flex; }

.header {
  background-color: #ef4565;
  height: 7rem;
  z-index: 2; }
  .header__main-nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header__list {
    display: flex; }
  .header__item {
    list-style-type: none;
    padding-right: 3rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fffffe;
    font-weight: 700; }
    .header__link:link::before, .header__link:link::after, .header__link:visited::before, .header__link:visited::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #fffffe;
      position: absolute;
      transform: scaleX(0);
      transition: all .2s; }
    .header__link:link::before, .header__link:visited::before {
      transform-origin: left;
      top: -.5rem; }
    .header__link:link::after, .header__link:visited::after {
      transform-origin: right;
      bottom: -.6rem;
      left: 0; }
    .header__link:link:hover::before, .header__link:link:hover::after, .header__link:visited:hover::before, .header__link:visited:hover::after {
      transform: scaleX(1); }
  .header__link {
    position: relative; }

.side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh; }
  .side-nav__content {
    height: 100%;
    display: flex;
    padding: 2rem 1rem;
    background-color: #094067;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .side-nav__photo {
    height: 8vh;
    width: 8vh;
    background-size: cover;
    background-position: center;
    border-radius: 50%; }
  .side-nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 45%; }
  .side-nav__icon {
    height: 5rem;
    width: 5rem;
    fill: #90b4ce;
    transition: all .3s; }
    .side-nav__icon:hover {
      fill: #ef4565; }

.main {
  flex: 1; }
