.header{
    background-color: $tertiary;
    height: 7rem;
    z-index: 2;
    &__main-nav{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    &__hamburger-menu{}
    &__list{
        display: flex;
    }
    &__item{
        list-style-type: none;
        padding-right: 3rem;
        
    }
    &__link:link,
    &__link:visited{
        text-decoration: none;
        font-size: 1.6rem;
        color: $main;
        font-weight: 700;

        &::before,
        &::after{
            content: '';
            width: 100%;
            height: 2px;
            background-color: $main;
            position: absolute;
            transform: scaleX(0);
            transition: all .2s;
        }
        &::before{
            transform-origin: left;
            top: -.5rem;
        }
        &::after{
            transform-origin: right;
            bottom: -.6rem;
            left: 0;
        }
        &:hover::before,
        &:hover::after{
            transform: scaleX(1);
        }
    }
    &__link {
        position: relative;
    }
}