.side-nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    @media only screen and(max-width: 400px){
        display: none;
    }
    &__content{
        height: 100%;
        display: flex;
        padding: 2rem 1rem;
        background-color: $stroke;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 45%;
    }
    &__icon{
        height: 5rem;
        width: 5rem;
        fill: $secondary;
        transition: all .3s;
        &:hover{
            fill: $highlight;
        }
    }
}