.side-nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    &__content{
        height: 100%;
        display: flex;
        padding: 2rem 1rem;
        background-color: $stroke;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__photo-div{
       
    }
    &__photo{
        height: 8vh;
        width: 8vh;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 45%;
    }
    &__icon{
        height: 5rem;
        width: 5rem;
        fill: $secondary;
        transition: all .3s;
        &:hover{
            fill: $tertiary;
        }
    }
}